* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, 'Segoe UI, Roboto', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 173, 173);
    margin-top: 5rem;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.content {
    display: flex;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    line-break: none;
    color: #24222e;
}
h1::after{
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    border-radius: 10px;
    background-color: #ff2929;
    margin-top: 10px;
    margin-left: 60px;
}

.inputSection {
    display: flex;
    align-items: start;
}

.displayBox {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.2rem;
    margin-bottom: 3px;
}

.displayBox:focus {
    outline: none;
    border-color: #999;
}

.displayBox::-webkit-inner-spin-button,
.displayBox::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.unit {
    padding: 0.5rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.unit:focus {
    outline: none;
    border-color: #999;
}
@media (max-width: 700px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 10px;
        padding: 0px;
    }
    h1{
        font-size: 1.5rem;
        &::after{
            width: 150px;
            height: 4px;
            margin-top: 5px;
            margin-left: 40px;
        }
    }
}